<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sign-Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">Sign up</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/users/sign-up}" th:object="${userDTO}"  method="POST">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="firstName" class="col-form-label">Name</label>
                        <input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="Name">
                        <label for="lastName" class="col-form-label">Last Name</label>
                        <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="Last Name">
<!--                        <label for="gender" class="col-form-label">Gender</label>-->
<!--                        <input type="text" th:field="*{gender}" class="form-control" id="gender" placeholder="Gender">-->
                        <label for="birthday" class="col-form-label">Birthday</label>
                        <label class="col-form-label">Gender</label>
                        <div><input type="radio" name="gender" th:value="male" checked="checked" />Male</div>
                        <div><input type="radio" name="gender" th:value="female" />Female</div>
                        <div><input type="radio" name="gender" th:value="other" />Other</div>
                        <input type="date" th:field="*{birthday}" th:value="*{birthday}"  class="form-control" id="birthday"  >
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
                        <label for="username" class="col-form-label">Username</label>
                        <input type="text" th:field="*{username}" class="form-control" id="username" placeholder="Username">
                        <label for="password" class="col-form-label">Password</label>
                        <input type="text" th:field="*{password}" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>